body{
    margin: 0px;
}



img{
    max-width: 50px;
    max-height: 50px;
}

.div_informacoes{
    font-weight: bold;
    font-size: 10px;
}

.bordao{
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}