body{
    margin: 0px;
}

h1{
    background-color: #00aaff;
    text-align: center;
}

img{
    max-width: 50px;
    max-height: 50px;
}

.div_menu{
    background-color: cornflowerblue;
    text-align: center;
    border: 1px solid red;
    padding: 5px;
}

a{
  text-decoration: none;  
}

.a_menu{
    background-color: rgb(218, 255, 8);
}

.div_informacoes{
    font-weight: bold;
    font-size: 10px;
}

.bordao{
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}