.div_informacoes{
    width: 100%;
    font-weight: bold;
    font-size: 10px;
    background-color:rgb(27, 126, 151);
    text-align: center;
    position: fixed;;
    bottom: 0px;
    
}

.a_informacoes{
    display: block;
    margin: 10px;
    color: black;
}